[
 {:name "Giant Heart Poem"
  :surfaces [["markdown" "Inspiration" "What's on your mind?"]
             ["poem" "Poem" "art"]
             ["markdown" "Reflection" "What does the poem reveal?"]]}

 {:name "The Work"
  :description "The only time we suffer is when we believe a thought
that argues with what is. \n - Byron Katie"
  :surfaces [["markdown" "Is it true?" ""]
             ["markdown" "Can you absolutely know that it's true?" ""]
             ["markdown" "How do you react, what happens, when you believe that thought?" ""]
             ["markdown" "Who would you be without the thought?" ""]]}
 ]
